<section>
  <div class='container'>
    <div class="row">
      <div class="col-sm-5">
        <br>
       <div class="p-profile"></div>
      </div>
      
        <div class="col-lg-7 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
  
       <h2 class="mt-4">About me</h2>
       <p class="p-des mt-3" align="justify">I am fascinated by the power of data science and software technologies in revolutionizing the life sciences and healthcare industries. I'm interested in analyzing large complex pharmaceutical and healthcare data to make an actionable data-driven decision to have an impact on human health.
        <p class="p-des mt-3" align="justify">I have 1-year experience in the Pharmaceutical/ Biotech industry, and the skills I gained during my co-op: <br>
        <br>Web Development: HTML, CSS, MongoDB, ExpressJS, NodeJS, Bootstrap, S3, EC2, RDS, EB, SLDC Agile methodologies
        
        <br>Analytics: SQL, Python, Tableau, Looker, PowerBI, Smartsheet, Figma, UAT, users persona, training documentation
        
    <br>Life Sciences: GxP & non-GxP compliances, SOP, FDA regulatory requirements and guidelines, CAPA, Veeva Vault eTMF, Labware LIMS, ELN, In vivo and in vitro laboratory studies, onboarding process
      </p>
      <div>
        <br>
  
        <p>Download Resume <a href="https://drive.google.com/file/d/1DSizLC6jgBfOFa__AZO51lBbNusO5T12/view" class="p-download"><i class="bi bi-download"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</section>

